body {
	margin: 0;
	font-family: arial;
	padding: 0;
	background-color: #f1f1f1;
}
a {
	color: #000;
	text-decoration: none;
}
.top {
	height: 30px;
	width: 100%;
	background-color: #333;
}
.topint {
	margin: auto;
	height: 30px;
	max-width: 1040px;
	width: 100%;
}
.topleft {
	float: left;
	width: 50%;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
}
.topleft ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.topleft li {
	float: left;
	margin-right: 8px;
	margin-left: 8px;
}
.topleft li:hover a {
	color: #4ca7c5;
}
.topleft a {
	color: #fff;
	text-decoration: none;
}



.toprigth {
	float: right;
	width: 50%;
	height: 30px;
	text-align: right;
}
.topright img {
	float: right;
	margin-right: 2px;
	margin-left: 2px;
	margin-top: 2px;
}
.topright input {
	float: right;
	line-height: 30px;
	margin-right: 2px;
	margin-left: 2px;
	margin-top: 2px;
}
.topright .search {
	width: 115px;
	border-radius: 5px;
	height: 26px;
	outline: none;
}
.topright .lupa {
	margin-top: 4px;
	outline: none;
}
.top2 {
	width: 100%;
	background-color: #fff;
}
.top2int {
	max-width: 1040px;
	width: 100%;
	margin: auto;
	height: 100px;
}
.logo {
	float: left;
	font-size: 42px;
	font-family: times;
	color: #d40000;
	height: 100px;
	line-height: 100px;
	font-weight: 1000;
}
.logo:hover {
	cursor: pointer;
}
.top2int .banner  {
	margin-top: 5px;
	width: 60%;
	height: 90px;
	float: right;
	background-color: #777;
	font-size: 42px;
	line-height: 90px;
	color: #fff;
	text-align: center;
}



.mainmenu {
	background-color: #d40000;
	height: 40px;
	position: relative;
}
.mainmenu .menu {
	width: 100%;
	max-width: 1040px;
	margin: auto;
	height: 40px;''
}
.mainmenu ul {
	list-style: none;
	font-size: 12px;
	color: #fff;
	line-height: 40px;
	margin: 0;
	padding: 0;
}
.mainmenu li {
	float: left;
	padding-right: 12px;
	padding-left: 12px;
	position: relative;
}
.mainmenu a {
	text-decoration: none;
	color: #fff;
}
.mainmenu li:hover {
	background-color: #f55;
}

.mainmenu img {
	line-height: 40px;
}
.submenu {
	left: 0;
	width:150px;
	background-color:#d40000;
	position:absolute;
	display:none;
	margin: 0;
	overflow: hidden;
}
.submenu li {
	width: 100%;
	margin: 0;
	padding-left: 12px;
}
.submenuitem {
	height:30px;
	line-height:30px;
}
.mainmenu li:hover .submenu {
	display: block;
}
.lastnews {
	height: 38px;
	width: 100%;
	margin-top: 12px;
}
.lastnewsint {
	background-color: #fff;
	width: 1040px;
	height: 26px;
	margin: auto;
	border: 1px solid #ccc;
	overflow: hidden;
}
.lnleft {
	background-color: #f00;
	height: 26px;
	display: inline-block;
	line-height: 26px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	color: #fff;
	font-weight: 200;
	cursor: pointer;
}
.lnright {
	display: inline-block;
	height: 26px;
	line-height: 26px;
	padding-left: 10px;
}



.container {
	width: 100%;
}
.containerint {
	margin: auto;
	max-width: 1040px;
}




.leftside {
	width: 753px;
	float: left;
}



.slideshow {
	background-color: #abc;
	height: 335px;
	overflow: hidden;
	margin-bottom: 12px;
}
.slideshowarea {
	height: 335px;
	width: 10000px;
	transition: all 1s;

}
.slide {
	height:335px;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.slideinfo {
	height: 70px;
	background-image:url('../images/slideshow_bg.png');
	background-size: auto 70px;
	margin-top: 264px;
}
.slideinfo-title {
	font-size:20px;
	color:#FFF;
	padding-top:15px;
	padding-left: 20px;
}
.slideinfo-subtitle {
	font-size:13px;
	color:#FFF;
	padding-left: 20px;
}
.slidemenu {
	margin-left: 12px;
	margin-top: 12px;
	position: absolute;
	width: 100px;
	height: 20px;
}
.slideselect {
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 5px;
	cursor: pointer;
	background-color: #ccc;
	border-radius: 8px;
}
.slideselect:hover {
	background-color: #aaa;
}


.rightside {
	width: 275px;
	float: right;
	margin-left: 12px;
} 



.widget {
	background-color: #fff;
	border: 1px solid #aaa;
	margin-bottom: 12px;
}
.widget-title {
	background-color: #f5f5f5;
	line-height: 30px;
	height: 30px;
	border-bottom: 1px solid #ccc;
	padding-left: 12px;
	font-size: 14px;
}
.widget-content {
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: center;
}
.newsitem {
	padding: 8px;
	border-bottom: 1px solid #ccc;
	text-align: left;
}
.lnewsitem {
	padding: 8px;
	text-align: left;
}
.newsitem a, .lnewsitem a {
	text-decoration: none;
	color: #000;
}




.narea1 {
	height: 400px;
	width: 430px;
	float: left;
}
.nbig {
	margin-left: 10px;
}
.nbig .nimage {
	width: 384px;
	height: 222px;
	margin-bottom: 12px;
}
.nbig .ntitle {
	font-size: 32px;
	width: 384px;
}
.nbig .ntext {
	width: 384px;
}


.narea2 {
	width: 321px;
	float: left;
}
.nitem {
	text-align: left;
	height: 88px;
	margin-top: 8px;
	margin-bottom: 8px;
}
.nimage {
	width: 80px;
	height: 80px;
	padding: 3px;
	border: 1px solid #ccc;
	float: left;
}
.ntitle {
	font-size: 16px;

}
.ninfo {
	font-size: 12px;
	color: #ccc;
	margin-top: 8px;
	margin-bottom: 8px;
}
.narea2 .nimage {
	margin-right: 6px;
}

.iframetablet {
	display: none;
}
.iframemobile {
	display: none;
}
.menumobile {
	display: none;
}

@media only screen and (min-width: 908px) and (max-width: 1056px) {

	.topint {
		max-width: 890px;
	}
	.top2int {
		max-width: 890px;
	}
	.mainmenu .menu {
		max-width: 890px;
	}
	.lastnewsint {
		max-width: 890px;
	}
	.containerint {
		max-width: 890px;
	}



	.leftside {
		width: 600px;
	}



	.slideshow {
		width: 600px;
		height: 267px;
	}
	.slide {
		height: 267px;
		width: 600px;
	}
	.slideinfo {
		margin-top: 197px;
		width: 600px;
	}


	.narea1 {
		width: 277px;
	}
	.nbig .nimage {
		width: 245px;
		height: 140px;
	}
	.nbig .nimage img {
		width: 245px;	
		height: 140px;
	}
	.nbig .ntitle {
		width: 245px;
		font-size: 24px;
	}
	.nbig .ntext {
		width: 245px;
	}
}


@media only screen and (min-width: 777px) and (max-width: 908px) {

	.topint {
		margin: auto;
		max-width: 758px;
	}
	.top2int {
		margin: auto;
		max-width: 758px;
	}
	.mainmenu .menu {
		margin: auto;
		max-width: 758px;
	}
	.lastnewsint {
		margin: auto;
		max-width: 758px;
	}
	.containerint {
		margin: auto;
		max-width: 758px;
	}


	.leftside {
		float: none;
		width: auto;
	}


	.rightside {
		display: none;
	}


	.top2int .banner {
		display: none;
	}
	.logo {
		float: none;
		margin: auto;
		text-align: center;
	}
	.lnright {
		font-size: 14px;
	}
	.slide {
		margin: auto;
	}

	.narea1 {
		width: 40%;
	}
	.nbig .nimage {
		width: 245px;
		height: 140px;
	}
	.nbig .nimage img {
		width: 245px;	
		height: 140px;
	}
	.nbig .ntitle {
		width: 245px;
		font-size: 24px;
	}
	.nbig .ntext {
		width: 245px;
	}

	.narea2 {
		width:60%;
	}
}

@media only screen and (max-width: 777px) {

	.rightside {
		width: auto;
	}

	.topint {
		max-width: 320px;
	}
	.top2int {
		max-width: 320px;
	}
	.mainmenu .menu {
		max-width: 320px;
	}
	.lastnewsint {
		max-width: 320px;
	}
	.containerint {
		max-width: 320px;
	}

	.topright {
		width: 100%;
		margin: auto;
		text-align: center;
		float: none;
	}	
	.topleft {
		display: none;
	}
	.leftside {
		float: none;
		width: auto;
	}

	.top2int .banner {
		display: none;
	}
	.logo {
		float: none;
		margin: auto;
		text-align: center;
	}
	.lastnews {
		display: none;
	}





	.slide {
		margin: auto;
		height: 180px;
	}
	.slideshow {
		margin-top: 20px;
		width: auto;
		height: 180px;
	}
	.slide {
		width: auto;
		height: 180px;
	}
	.slideinfo {
		margin-top: 110px;
		width: auto;
		padding-bottom: 10px;
	}
	.slideinfo-title {
		font-size:16px;
		color:#FFF;
		padding-top:15px;
		padding-left: 20px;
		overflow: hidden;
	}
	.slideinfo-subtitle {
		font-size:13px;
		color:#FFF;
		padding-left: 20px;
		overflow: hidden;
		padding-bottom: 10px;
	}






	.iframepc {
		display: none;
	}
	.iframetablet{
		display: none;
	}
	.iframemobile {
		display: block;
	}




	.narea1 {
		width: 100%;
	}
	.nbig .nimage {
		width: 290px;
		height: 162px;
	}
	.nbig .nimage img {
		width: 290px;
		height: 162px;
	}
	.nbig .ntitle {
		width: 290px;
		font-size: 20px;
	}
	.nbig .ntext {
		width: 290px;
	}

	.narea2 {
		width:100%;
	}
	.narea2 .nimage {
		margin-left: 10px;
	}


	.mainmenu ul {
		position: absolute;
		background-color: #d40000;
		z-index: 10;
		display: none;
	}
	.mainmenu li {
		float: none;
		height: auto;

	}
	.mainmenu li img {
		display: none;
	}
	.submenu {
		position: none;
		display: block;
	}
	.menumobile {
		display: block;
	}
}